
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  
  <h2>Book your appointment</h2>

  <!-- Name Row-->
  <div class="row margin-bottom-l">
    <div class="input-wrapper">
      <input 
        type="text" 
        [placeholder]="placeholders.firstName"
        formControlName="firstName"
        required>

      <form-error 
        [error]="areInputsInvalid(['firstName', 'lastName']) ? 'Please enter your full name' : ''">
      </form-error>
    </div>
    
    <div class="input-wrapper">
      <input
        type="text"
        [placeholder]="placeholders.lastName"
        formControlName="lastName" 
        required>
    </div>
  </div>

  <!-- Email and Number -->
  <div class="row">
    <div class="input-wrapper">
      <input
        type="email"
        [placeholder]="placeholders.email"
        formControlName="email"
        required>
    
        <form-error
          [error]="areInputsInvalid('email') ? 'Please enter a valid email' : ''">
        </form-error>
    </div>
    
    <div class="input-wrapper">
      <input
        type="tel"
        [placeholder]="placeholders.contactNumber"
        formControlName="contactNumber"
        required>

        <form-error 
          [error]="areInputsInvalid('contactNumber') ? 'Please enter phone number' : ''">
      </form-error>
    </div>
  </div>

  <!-- Barber and Service -->
  <div class="row margin-bottom-m">
    <div class="input-wrapper select">
      <select formControlName="barber">
        <option *ngFor="let barber of barbers" [ngValue]="barber">
          {{ barber.firstName }} {{ barber.lastName }}
        </option>
      </select>

      <input 
        class="placeholder with-border-radius"
        type="text"
        [placeholder]="placeholders.barber">

      <form-error
        [error]="areInputsInvalid('barber') ? 'Please select a barber' : ''">
      </form-error>
    </div>
    
    <div class="input-wrapper select">
      <select formControlName="service">
        <option *ngFor="let service of services" [ngValue]="service">
          {{ service.name }}
        </option>
      </select>

      <input 
        class="placeholder with-border-radius"
        type="text"
        [placeholder]="placeholders.service">

      <form-error
        [error]="areInputsInvalid('service') ? 'Please select a service' : ''">
      </form-error>
    </div>

  </div>

  <!-- Date and Time -->
  <div class="row margin-bottom-m">
    <div class="input-wrapper">
      <input 
        type="date"
        formControlName="date"
        [min]="todayDate"
        required>

      <input
        class="placeholder"
        type="text"
        [placeholder]="placeholders.date">
      
      <form-error 
        [error]="areInputsInvalid('date') ? 'Please pick a date' : ''">
      </form-error>    
    </div>

    <div class="input-wrapper select">
      <input 
        type="time"
        formControlName="time"
        required>

      <input
        class="placeholder with-border-radius"
        type="text"
        [placeholder]="placeholders.time">

      <form-error 
        [error]="areInputsInvalid('time') ? 'Please pick a time' : ''">
      </form-error>
    </div>
  </div>

  <div class="row">
    <div class="input-wrapper">
      <input
        type="text"
        [value]="servicePrice"
        disabled>
    </div> 
  </div>

  <button type="submit">{{ placeholders.cta }}</button>

</form>