@import '~src/scss/mixins';

$inputHeight: 40px;
$formBackground: #1c2843;
$inputColor: #6b6b6b;

h2 {
  color: #fff;
  margin-bottom: 28px;
  padding-left: 2px;
  padding-right: 2px;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  
  @include for-mobile {
    flex-direction: column;
    gap: 16px;
  }
  
  &.margin-bottom-m {
    margin-bottom: 26px;
    
    @include for-mobile {
      margin-bottom: 16px;
    }
  }
  &.margin-bottom-l {
    margin-bottom: 36px;
    
    @include for-mobile {
      margin-bottom: 16px; 
    }
  }
}

.input-wrapper {
  flex: 1;
  position: relative;

  &.select {
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 6px; 
      height: 12px;
      right: 5px;
      top: calc($inputHeight / 2);
      transform: translateY(-50%);
      background-image: url(/assets/images/select-icon.png);
      background-size: 6px 12px;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

form {
  position: relative;
  padding: 26px 32px 42px;
  max-width: 439px;
  margin-left: auto;
  margin-top: -473px;
  background: $formBackground;

  @include for-mobile {
    margin-top: 0;
    max-width: 100%;
  }

  button {
    width: 100%;
    margin-top: 24px;
    height: 56px;
    border-radius: 28px;
    background: #fd9563;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: #fd9463f2;
      transform: scale(1.02);
    }
  }
}

select,
input,
input:disabled {
  width: 100%;
  height: $inputHeight;
  border: none;
  padding: 10px;
  background-color: #fff;
  -webkit-text-fill-color: $inputColor; // Safari fix disabled text color
  color: $inputColor;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

::placeholder {
  color: $inputColor;
  opacity: 1;
  text-transform: capitalize;
}

input[type="time"],
select {
  padding-right: 22px;
  border-radius:6px;
  -webkit-appearance: none;
}

input, select {
  &:focus,
  &:not(.ng-pristine) {
    + input.placeholder {
      display: none;
    }    
  }

  &.placeholder {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    
    &.with-border-radius {
      border-radius: 6px;
    }
  }
}

// Removes autofill background color
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 calc($inputHeight/2) white inset !important;
}
