@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Squada+One&display=swap');

$fontSquadaOne: 'Squada One', cursive;
$fontRobotoSlab: 'Roboto Slab', serif;

h1,
h2 {
  text-transform: uppercase;
  font-weight: 500;
}

h1 {
  font-size: 58px;
  font-family: $fontSquadaOne;
  letter-spacing: 1px;
  text-align: center;

  @include for-mobile {
    font-size: 46px;
  }
}

h2 {
  font-size: 37px;
  font-family: $fontSquadaOne;
  letter-spacing: 1.8px;
}

.subtitle {
  font-family: $fontRobotoSlab;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.7;
  text-transform: capitalize;
  margin-bottom: 50px;
  text-align: center;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;

  @include for-mobile {
    max-width: 380px; 
    margin-bottom: 53px;

    span {
      display: none;
    }
  }
}

html {
  font-family: $fontRobotoSlab;
}
